/** COMMON tags*/
* {
	padding: 0px;
	margin: 0px;
	border: none;
	min-height: 1px;
}

body {
	font: normal normal normal 12px verdana, arial, sans-serif;
	color: #FFF;
    background: url("background.png") repeat;
	background-color:#020202;
	scrollbar-base-color: #2a2a2a;
	/*bez tohohle pravidla to schova pravej vertikalnmi scrollbar za okraj okna
	  zpusobi to cca 7px skviru mezi pravym okrajem prohlizece a posunovadlem v IE
	  hodnota 99% - zpusobi prekryv pulky posuvniku a kraje prohlizece */
	_width:98%;
	_height:100%;
	_overflow-y:auto;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 20px; /* Adjust the gap as needed */
}

.left-section {
	display: flex;
	flex-direction: column; /* Stack textarea and button vertically */
	gap: 10px; /* Add spacing between textarea and button */
}

textarea.inputText {
	width: 300px;
	height: 150px;
	font-size: 16px; /* Increase font size if needed */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

a {
	font-weight: bold;
	font-size: 13px;
	font-style:normal;
	color: #d5e396;
	background-color:  transparent;
	text-decoration: none;
	cursor:pointer;
}

a:hover {
	text-decoration: underline;
}
/*
a:active {
	color: #F0A050;
	background-color:  transparent;
}
*/
a.discount {
	color: #A5FF4B;
	background-color:  transparent;
}

a.discount:hover {
	color: #77FF45;
	background-color:  transparent;
}
a.markup {
	color: #FFF82A;
	background-color:  transparent;
}

a.markup:hover {
	color: #FFD20F;
	background-color:  transparent;
}

a.cancel {
	color: #FF9C70;
	background-color:  transparent;
}

a.cancel:hover {
	color: #FF7145;
	background-color:  transparent;
}

a.newmess { /*do ali fora*/
	font-size:12px;
	color: #98CCFF;
	background-color:  transparent;
	font-weight:bold;
}

a.newmess:hover {
	color: #98CCFF;
	background-color:  transparent;
}

a.allyhelp { /*pomoc spojencum*/
	font-weight:bold;
	font-size:12px;
	color: #00CC00;
	background-color:  transparent;
}

a.allyhelp:hover  {
	color: #00FF00;
	background-color:  transparent;
	font-weight:bold;
}

a.newpost { /*nova posta*/
	font-weight:bold;
	font-size:12px;
	color:#CC0000;
	background-color:  transparent;
}

a.newpost:hover {
	color:#FF0000;
	background-color:  transparent;
	font-weight:bold;
}

a.agentact { /*obrana proti rozvedce*/
	font-weight:bold;
	font-size:12px;
	color: #CCCC00;
	background-color:  transparent;
}
a.agentact:hover {
	color:#FFFF00;
	background-color:  transparent;
	font-weight:bold;
}

img {
	cursor:pointer;
}

ul {
	margin:0;
	list-style-type:none;
	/*list-style-position: inside;*/
}

ul.classic {
	list-style-type:disc;
	list-style-position:outside;
	margin-left:20px;
}

ul.ident {
	margin:5px;
}

hr {
	border-top:solid 1px #aaa;
}

/*pouziti napr class="rname c" */
.c { text-align:center; }

.r { text-align:right; }

.l { text-align:left; }

.j { text-align:justify; }

.m10 { margin:10px; } /*pro vytvareni odrazeni*/

.ml10 { margin-left: 10px; }

.m20 { margin:20px; }


h1 {
	font: normal normal bold 16px verdana, arial, sans-serif;
	color: #FF8000;
	background-color: transparent;
	text-align: center;
	margin: 12px 0 10px 0;
}

h2 {
	font: normal normal bold 12px verdana, arial, sans-serif;
	text-transform: uppercase;
	color: #FFDCB8;
	background-color: transparent;
	text-align: center;
	margin: 10px 0 0px 0;
}

h3 {
	font: normal normal bold 12px verdana, arial, sans-serif;
	color: #FFA500;
	background-color: transparent;
	margin: 13px 0px 3px 0px;
}

h4 {
	font: normal normal bold 11px verdana, arial, sans-serif;
	color: #FFFFFF;
	background-color: transparent;
	margin:5px 0;
}

h5 {
	font: normal normal bold 11px verdana, arial, sans-serif;
	color: yellow;
	background-color: transparent;
}

h6 {
	font: normal normal normal 11px verdana, arial, sans-serif;
}

fieldset {
  position: relative;
}

fieldset p {
  padding-top: 7px;
}

legend {
  position: absolute;
  top: -7px;
  left: 5px;
  background-color: black;
}

#flagDiv {
	font-size: 9px;
}
.flag {
	font-weight: bold;
	font-size: 13px;
}
	#PWG {
		color: #ABB481;
	}
	#GWG {
		color: #FFB800;
	}
	#LWG {
		color: #57B3E6;
	}

p.newbs { /*zprava pro novacky*/
	font: normal normal normal 12px verdana, arial, sans-serif;
	color: #FFF1AF;
	padding:10px 30px;
	margin: 10px auto;
	width:80%;
	text-align:center;
	border : 1px dotted #FFF1AF;
}

p.error { /*chyba zpusobena neplatnym vstupem hrace*/
	font: normal normal bold 12px verdana, arial, sans-serif;
	color: #FF3333;
	text-align:center;
	text-transform: uppercase;
	background-color:  transparent;
	text-align:center;
	margin:10px;

}

.warn { /*varovani hrace. zakazana nebo neproveditelna cinnost*/
	font: normal normal bold 12px verdana, arial, sans-serif;
	font-variant: small-caps;
	color: #FF1F28;
	background-color:  transparent;
	margin:10px;
	text-align:center;
}

/*group bad*/
.badtext { /*negativni staticka zprava - napr flastr v pracovne*/
	font: normal normal bold 12px verdana, arial, sans-serif;
	color: #FF3333;
	background-color: transparent;
	margin:10px;
	text-align:center;
}

.badmsg { /*negativni dynamicky generovana zprava*/
	font: italic normal normal 12px verdana, arial, sans-serif;
	color: #FF3333;
	background-color: transparent;
	text-align:center;
	margin:10px;
}
.badprodmsg { /*timto stylem se vypisujou texty jako Fasisticka vlada znicila.. - bylo to dost rvave a rusilo to vzhled*/
	font: italic normal normal 11px verdana, arial, sans-serif;
	color: #F55;
	background-color:  transparent;
	text-align:center;
}

.goodprodmsg{ /*timto stylem se vypisujou texty jako sv. valka vyprodukovana xxx vojaku. Kyborgove..*/
	font: italic normal normal 11px verdana, arial, sans-serif;
	color: #5F5;
	background-color:  transparent;
	text-align:center;
}

p.badtext em {
	color: #FFBF4F;
	background-color: transparent;
}

p.badevent { /*negativni udalosti */
	font: normal normal normal 11px verdana, arial, sans-serif;
	color: #FF3333;
	background-color: transparent;
	text-align:center;
	margin:5px;
}

/*group good*/
.goodtext { /*positivni staticka zprava - napr kredity v pracovne*/
	font: normal normal bold 12px verdana, arial, sans-serif;
	color: #33FF33;
	background-color: transparent;
	text-align:center;
}
.goodmsg { /*positivni dynamicky generovana zprava*/
	font: italic normal normal 12px verdana, arial, sans-serif;
	color: #33FF33;
	background-color: transparent;
	text-align:center;
	margin:10px;
}
p.goodevent  { /*positivni udalosti */
	font: normal normal normal 11px verdana, arial, sans-serif;
	color: #33FF33;
	background-color:  transparent;
	text-align:center;
	margin:5px;
}
p.goodtext em {
	color: #FFBF4F;
	background-color:  transparent;
}

/*group neutr*/

.neutrtext { /*neutralni zprava*/
	font: normal normal normal 11px verdana, arial, sans-serif;
	color: #FFFF00;
	background-color:  transparent;
	text-align:center;
}
p.neutrtext strong{ /*neutralni zprava*/
	color: #FFBF00;
	background-color:  transparent;
	text-align:center;
}

.neutrmsg { /*neutralni dynamicky generovana zprava - hlavne se to tyka produkce za kolo*/
	font: italic normal normal 11px verdana, arial, sans-serif;
	color: #FFF;
	background-color:  transparent;
	text-align:center;

}
p.neutrevent { /*neutralni udalosti */
	font: normal normal normal 11px verdana, arial, sans-serif;
	color: #FDFF2F;
	background-color:  transparent;
	text-align:center;
}
/*pokroky*/
.imprname { /*jmeno pokroku v prehledu pokroku*/
	font: normal normal normal 11px verdana, arial, sans-serif;
	color: #FFF;
	background-color:  inherit;
	font-weight: bold;
}

.imprleg { /*text popisu pokroku*/
	vertical-align:top !important;
}
p.imprp { /*cena pokroku v prehledu pokroku*/
	font: normal normal normal 11px verdana, arial, sans-serif;
	color: #FFF;
	background-color: inherit;
}

p.imprp em { /*vlastni hodnota ceny pokroku*/
	font-style:normal;
	font-weight:bold;
	color: #FCFFCD;
	background-color:  inherit;
}

p.infomsg { /*zprava generovana dynamicky podle uzivatelke akce*/
/*kladny nakup na trhu*/
	font: italic normal normal 13px verdana, arial, sans-serif;
	color: #FFE900;
	text-align: center;
	background-color:  transparent;
	margin:3px;
}

p.akce { /*styl kterym se vypisuje utok a akce rozvetky*/
	margin-top:15px;
}

.infotext { /*staticky text*/
	font: normal normal normal 12px verdana, arial, sans-serif;
	color: #D6D6D6;
	margin-top:5px;
	background-color:  transparent;
}

p.infotext strong {
	color:#eee;
	background-color:  transparent;
}

.disabled { /*nevyrazne texty */
	color:#999 ;
	background-color:  inherit;
}

td p.badtext, td p.goodtext, td p.neutrtext {
	margin:0px;
	border:none;
}

.score { /*total score v historickem zebricku, mozna by se dal tento styl aplikovat i na vypis prestize*/
	color:#FCFFCD;
	background-color:   inherit;
	font-weight:bold;
}


/*Seznamy*/
ul.vis_ul { /*viditelne senznamy*/
	margin-left: 30px;
}

ul.vis_ul li { /*viditelne senznamy*/
	margin-top:3px;
}

ul.rowspace li { 		/*seznam, ktery ma mezery mezi radky - menu extra moznosti*/
	margin-top:15px;
}

ul.tbl_sim { /*snaha o napodobeni tabulky, nutne dodat umele sirku - pokdu nevyhovuje implicitni 100%*/
	font: normal normal normal 11px verdana, arial, sans-serif;
	color:#FFF;
	background-color: #2a2a2a;
	border-top: solid 4px #111111;
	border-left: solid 4px #111111;
	border-right: solid 4px #3a3a3a;
	border-bottom: solid 4px #3a3a3a;
	margin:5px auto 5px auto;
	}

ul.tbl_sim li {
	vertical-align: middle;
	border-top: solid 1px #3a3a3a;
	border-left: solid 1px #3a3a3a;
	border-right: solid 1px #111111;
	border-bottom: solid 1px #111111;
	padding:2px 5px;
}

div.tbl_sim { /*hodi se vsude tam, kde se pouziva jednoradkova tabulka */
	font: normal normal normal 11px verdana, arial, sans-serif;
	color:#FFF;
	background-color: #2a2a2a;
	border-top: solid 4px #111111;
	border-left: solid 4px #111111;
	border-right: solid 4px #3a3a3a;
	border-bottom: solid 4px #3a3a3a;
	margin:5px auto 10px auto;
	padding:1px;
}

div.td_sim {
	border-top: solid 1px #3a3a3a;
	border-left: solid 1px #3a3a3a;
	border-right: solid 1px #111111;
	border-bottom: solid 1px #111111;
	padding:2px 2px 5px 2px;
	line-height:21px;
}

div.tbl_sim2 { /*simulace tabulky na novem foru u textarea */
	font: normal normal normal 11px verdana, arial, sans-serif;
	color:#FFF;
	background-color: #2a2a2a;
	border-top: solid 4px #111111;
	border-left: solid 4px #111111;
	border-right: solid 4px #3a3a3a;
	border-bottom: solid 4px #3a3a3a;
	margin:5px auto 10px auto;
	padding:1px;
	width: 80%;
}

div.td_sim2 { /*simulace tabulky na novem foru u textarea */
	border-top: solid 1px #3a3a3a;
	border-left: solid 1px #3a3a3a;
	border-right: solid 1px #111111;
	border-bottom: solid 1px #111111;
	padding:5px 2px 5px 2px;
	line-height:21px;
}

div.td_sim3 { /*simulace tabulky na novem foru u textarea posunutí odesílacího čudliku vlevo */
	border-top: solid 1px #3a3a3a;
	border-left: solid 1px #3a3a3a;
	border-right: solid 1px #111111;
	border-bottom: solid 1px #111111;
	padding:5px 2px 5px 2px;
	line-height:21px;
	text-align: left;
}

img.tbl_sim {			/*simulace ramecku tabulky kolem obrazku - ukazka napr. pri spatnem zalogovani*/
	position:block;
	border-top: solid 4px #111111;
	border-left: solid 4px #111111;
	border-right: solid 4px #3a3a3a;
	border-bottom: solid 4px #3a3a3a;
	background-color: #2a2a2a;
	padding:5px 6px;
	margin:5px auto 5px auto;
}

img.tbl_sim_pokroky {            /*simulace ramecku tabulky kolem obrazku - při stromu pokroku */
    position:block;
    padding:0px 0px;
    margin:5px auto 5px auto;
    cursor: auto;
    background-image: url('../../img/pokroky/adv_background.png');
}

table td div.tbl_sim {	/* drobnej hack upravujici vzhled v Pracovna -> nastaveni - obecne osetruje vyskyt tbl_sim v tabulce*/
	margin:7px;
}

/**TABULKY*/

table {
	border-spacing: 0;
	border-collapse:separate;
}

table.vis_tbl {  /*klasicka viditelna tabulka WG like*/
	font: normal normal normal 11px verdana, arial, sans-serif;
	color:#FFF;
	background-color: #2a2a2a;
	border-top: solid 4px #111111;
	border-left: solid 4px #111111;
	border-right: solid 4px #3a3a3a;
	border-bottom: solid 4px #3a3a3a;
	margin:5px auto 5px auto;
}

th {
	font-variant: small-caps;
	font-size:12px;
	font-family:verdana;
	color: #FFBF4F;
	background-color:  transparent;
	text-align: center;
}

th.short {
	width: 70px;
}
td.short {
	width: 70px;
}

.caption { /*nazev do tabulek, kde je horni radek slity*/
	font: normal normal bold 11px verdana, arial, sans-serif;
	color: #98CCFF;
	background-color:  transparent;
	text-align:center;
	line-height:20px;
}

td.divider{
	background-color:#3a3a3a !important;
	line-height:4px !important;
	height:4px !important;
	padding:0 !important;
}

td.tdinput {
	padding-top:1px !important;
	padding-bottom:1px !important;
}

table.vis_tbl th {
	vertical-align: middle;
	border-top: solid 1px #3a3a3a;
	border-left: solid 1px #3a3a3a;
	border-right: solid 1px #111111;
	border-bottom: solid 1px #111111;
	padding:3px;
}

table.vis_tbl td {
	vertical-align: middle;
	border-top: solid 1px #3a3a3a;
	border-left: solid 1px #3a3a3a;
	border-right: solid 1px #111111;
	border-bottom: solid 1px #111111;
	padding:4px 5px;
}

table.vis_tbl td.vtop {
	vertical-align: top;
}


table.vtop td {	/** vertikalni align u tabulek - predpokladane pouziti class="vis_tbl vtop"*/
	vertical-align:top;
}

td.rname,tr.rname td { /*row name*/
	color:#fff;
	background-color: inherit;
	padding: 2px 5px;
}

td.rdata, #atlas table td  { /*obecna data, bez special vyznamu*/
	color:#98CCFF;
	background-color: inherit;
	padding:2px 5px;
}

tr.anlalyza {
	color:#fff;
	text-align:center;
}

tr.anlalyza strong {
	color:#ff0;
	font-weight:bold;
}

.plus { /*kladne hodnoty - procenta bonusu, produkce v horni liste*/
	color: #00CC00;
	background-color:  transparent;
	padding:2px 5px;
}

.minus { /*zaporne hodnoty - procenta bonusu, produkce v horni liste*/
	color: #CC0000;
	background-color:  transparent;
	padding:2px 5px;
}

td.neutr, span.neutr { /*neutralni hodnoty - procenta bonusu, produkce v horni liste*/
	color: #CCCC00;
	background-color:  transparent;
	padding:2px 5px;
}

.smlouva {
	padding:4px;
	color:#999;
	background-color:inherit;
	width:100%;
	overflow:auto;

}

.nazor {
	text-align:left;
	padding:4px;
	color:#eee;
	background-color:  inherit;
	font-style:italic;
	width:100%;
	overflow:auto;
}


td.mstore { /*zbozi ve skladu, jednotky v tovarnach, pocty budov*/
	color: #98CCFF;
	background-color:  inherit;
	text-align: right;
}

td.msatur { /*zaplneni trhu - na trhu*/
	color: #98DDFF;
	font-weight: bold;
	background-color:  transparent;
	text-align: right;
}

td.mavailab { /*dostupne prostredky - mnozstvi*/
	color:#98CCFF;
	background-color:  transparent;
	text-align:right;
}

td.msaleprice { /*prodejni ceny na trhu*/
	color:#98CCFF;
	background-color:  transparent;
	text-align:right;
}

td.mpurchprice { /*nakupni ceny na trhu*/
	color:#98DDFF;
	font-weight: bold;
	background-color:  transparent;
	text-align:right;
}

td.mactprice { /*trzni ceny na trhu, mozne ceny*/
	color:#00DD00;
	font-weight: bold;
	text-align:right;
	background-color:  transparent;
}


td.effect { /*efekt technologii, efekt dotaci*/
	color:#00DD00;
	font-weight: bold;
	background-color:  transparent;
}

.descr { /*popis*/
	color: #98CCFF;
	background-color:  transparent;
}

p.descr { /*popis cehokoli, co potrebuje komentar*/
	margin-left:30px;
}

p.vyhoda {	/*Pracovna -> Extra moznosti*/
	color: #FFFF00;
	background-color:  transparent;
}


td.perf { /*produkce technologie, procento vyroby, produkce v tovarnach, procento budov*/
	color: #AEFFD1;
	font-weight: bold;
	background-color:  transparent;
	text-align: center;
}


.sum, tr.sum td { /*nahrada za th uvnitr tabulky - napr. Aliance->Celkova prestiz*/
	font-weight:bold;
	color: #FFC98F;
	font-family:verdana;
	background-color:  transparent;
}

td.gsale {
	background-color:#0a0;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	font-variant:small-caps;
}

.gtrans {
	background-color:#c00;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	font-variant:small-caps;
}

.fullscreen { /* sirka elementu */
	width: 100%;
}
.width75 {
	width: 75%;
}
.width80 {
	width: 80%;
}
.width90 {
	width: 90%;
}
.width500 {
	width: 500px;
}
.width600 {
	width: 600px;
}
.width650 {
	width: 650px;
}
.width700 {
	width: 700px;
}

td.warsig { /*signalizace, ze je ali ve valce*/
	color:#FFF;
	background-color:red;
}

tr.vice { /*radek ve vypisu aliance pro predsedu a azastupce*/
	color: #98CCFF;
}

.self { /*radek ve vypisu zebricku, alianci, spojenectvi pro sam sebe, vypis nove nove zpravy v archivu*/
	background-color:#4a4a4a;
}

td.candeclwar {  /*v zebricku alianci se tak oznaci aliance, kterym lze vyhlasit valka*/
	color: #FF8000;
	font-weight:bold;
}

td.atwar {  /*v zebricku alianci se tak oznaci aliance, kterym lze vyhlasit valka*/
	color: #fff;
	background-color:#FF0000;
}

table.spoj tr.self {   /*havky na smazani pozadi ve skriptu valka->spojenectvi*/
	background:  transparent;
}

tr.allies { /*radek ve vypisu spojenecke pomoci - spojenci*/
	color:#C2D4EF;
	background-color: transparent;
}

tr.together {/*radek ve vypisu spojenecke pomoci - celkem*/
	color:#0099FF;
	background-color: transparent;
}

.light0 {/*tmave podbarveni pro pokroky*/
	background-color:#2a2a2a;
}

.light40 {/*svetle podbarveni pro pokroky*/
	background-color:#3a3a3a;
}

.light60{/*svetlejsi podbarveni pro pokroky*/
	background-color:#3a3a3a;
}

.light80{/*nejsvetlejsi podbarveni pro pokroky*/
	background-color:#4a4a4;
}

select {
	color: #00305F;
	font-weight: bold;
	margin:0 5px;
	padding:1px 0px 1px 1px;
}

input { /*styl pro editboxy a checkboxy*/
	color: #00305F;
	font-weight: bold;
	margin:0 4px;
	padding:1px 4px;
}

textarea {
	margin:0 4px;
	padding:1px 4px;
}


input.ushort {
	width:30px;
	background-color: #FFFFFD;
	border-top: solid 1px #111111;
	border-left: solid 1px #111111;
	border-right: solid 1px #3a3a3a;
	border-bottom: solid 1px #3a3a3a;
}

input.short {
	width:50px;
	background-color: #FFFFFD;
	border-top: solid 1px #111111;
	border-left: solid 1px #111111;
	border-right: solid 1px #3a3a3a;
	border-bottom: solid 1px #3a3a3a;
}

input.subnormal {
	width:75px;
	background-color: #FFFFFD;
	border-top: solid 1px #111111;
	border-left: solid 1px #111111;
	border-right: solid 1px #3a3a3a;
	border-bottom: solid 1px #3a3a3a;;
}

input.normal {
	width:100px;
	background-color: #FFFFFD;
	border-top: solid 1px #111111;
	border-left: solid 1px #111111;
	border-right: solid 1px #3a3a3a;
	border-bottom: solid 1px #3a3a3a;
}

input.long{
	width:150px;
	background-color: #FFFFFD;
	border-top: solid 1px #000011;
	border-left: solid 1px #000011;
	border-right: solid 1px #002C70;
	border-bottom: solid 1px #002C70;
}

input.extralong {
	width:250px;
	background-color: #FFFFFD;
	border-top: solid 1px #111111;
	border-left: solid 1px #111111;
	border-right: solid 1px #3a3a3a;
	border-bottom: solid 1px #3a3a3a;
}

input.superlong {
	width:450px;
	background-color: #FFFFFD;
	border-top: solid 1px #111111;
	border-left: solid 1px #111111;
	border-right: solid 1px #3a3a3a;
	border-bottom: solid 1px #3a3a3a;
}

input.submit, button.submit { /*odesilaci cudliky*/
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #b4bf85;
	border-right-color: #b4bf85;
	border-bottom-color: #b4bf85;
	border-left-color: #b4bf85;
	background-color: #7b864a;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-x-position: 0%;
	background-y-position: 0%;
	color: #d5e396;
	font-weight: bold;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
	/*height: 2em;*/
	margin-top: -1px;
	/*width: 6em;*/


}

input.submit:hover {
color: #e5f3a6;
background-color: #9ba66a;
background-image: none;
background-repeat: repeat;
background-attachment: scroll;
background-x-position: 0%;
background-y-position: 0%;
}

input.submit:active {
	border-top: solid 3px #848f55;
	border-left: solid 3px #848f55;
	border-right: solid 3px #e4efb5;
	border-bottom: solid 3px #e4efb5;
}

input.submit2 { /*odesilaci cudliky na novém foru*/
 font-size:13px;
 font-weight:bold;
 color: #E7D885;
	border-top: solid 1px #9F8362;
	border-left: solid 1px #9F8362;
	border-right: solid 1px #52430F;
	border-bottom: solid 1px #52430F;
 padding: 1px 4px;
 background-color: #332211;
 background-image: url('input_background.png');
 margin:0px 20px 0px 20px;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
}

input.submit2:hover { /*odesilaci cudliky na novém foru*/
  color:#E7D885;
	border-top: solid 1px #B7A885;
	border-left: solid 1px #B7A885;
	border-right: solid 1px #52430F;
	border-bottom: solid 1px #52430F;
	background: #554433;
  background-image: url('input_background.png');
}

input.submit2:active { /*odesilaci cudliky na novém foru*/
  color:#B7A225;
	border-top: solid 1px #52430F;
	border-left: solid 1px #52430F;
	border-right: solid 1px #B7A885;
	border-bottom: solid 1px #B7A885;
	background: #443322;
  background-image: url('input_background_active.png');
}

.mailtype {
 font-size:12px;
 font-weight:normal;
 color: #FFFFFF;
 border: 1px solid #9a9a9a;
 padding: 1px 4px;
 background-color: #101010;
 margin:0px 5px;
}

.mailtype2 { /*textarea na novém foru*/
 font-size:12px;
 font-weight:normal;
 color: #FFFFFF;
 border: 1px solid #92732F;
 padding: 1px 4px;
 background-color: #000000;
 margin:0px 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 width: 90%;
}




/** COMMON classes*/

.eraser { /*pro smazani floatovaciho lautou <div class="eraser">&nbsp;</div>*/
	line-height: 0;
	clear: both;
	visibility: hidden;
	height: 0;

}

.clear { /*pro smazani floatovaciho lautou <div class="eraser">&nbsp;</div>*/
	clear: both;
}

.ocas { /*pismo ocasku*/
	font: normal normal bold 10px verdana, arial, sans-serif;
}

.pname { /*jmeno hrace*/
	font: normal normal normal 9px verdana, arial, sans-serif;
	color: #FFFFFF;
	background-color:  transparent;
}

.partak {
	color:yellow;
	background-color: transparent;
}

.raketa { /*styl pro vypis vyrobeni rakety*/
	color:#DE00EF;
	font-weight:bolder;
	text-align:center;
}


.pakt { /*smlouva Pakt - nadpis*/
	color: #00FF00;
	font-weight:bold;
	background-color:  transparent;
}

.doho { /*smlouva Dohoda o neutoceni - nadpis*/
	color: #6666FF;
	font-weight:bold;
	background-color:  transparent;
}

.valk { /*VALKA, Prave vyhlasena valka*/
	color: #FF0000;
	font-weight:bold;
	background-color:  transparent;
}

.neutral { /*neutralni vztah s danou zemi*/
	color: #BBBBBB;
	font-weight:bold;
	background-color:  transparent;
}

.utok { /*utok za utok, vztah se zemi*/
	color: #FF00FF;
	font-weight:bold;
	background-color:  transparent;
}

.autok { /*v analyze valek - pocet uspesnych agresi*/
}

.aobrana { /*v analyze valek - celkovy pocet obran*/
}

.on { /*online status*/
	font-weight:bold;
	color:#FFFF00;
	background-color:  transparent;
}

.onoff { /*napul ofline status*/
	font-weight:bold;
	color:#808040;
	background-color:  transparent;
}

.off { /*offline status*/
	font-weight:bold;
	color:#BBBBBB;
	background-color:  transparent;
}

.hodnost {
	font-weight:bold;
	color: #3399FF;
	background-color:  transparent;
}

.prot { /*styl vypisu hlasce o rozvojovce a protekci*/
	font-weight:bold;
	color: #BBBBBB;
	background-color:  transparent;
}

.znic { /*styl vypisu hlasce o znicene zemi*/
	font-weight:bold;
	color: #CC0000;
	background-color:  transparent;
}
.top10 { /*v zebricku oznaceni top10 zemi*/
	color:#0f0;
}

.top10separator {
	background-color:#22CC00;
	line-height:2px;
	height:2px ;
	padding:0 !important;
}

.hlina {  /*vypis rozlohy v zebricku*/

}

.datum { /*pro vypis casovych udaju po celem WG*/
	color: #BBBBBB;
	background-color:  transparent;
}

.embproti { /*hlas proti embargu*/
	color:#00DD00;
	background-color:  transparent;
	font-weight:bold;
	font-size:12px;
}

.embpro { /*hlas pro embargu*/
	color:#DD0000;
	background-color:  transparent;
	font-weight:bold;
	font-size:12px;
}

.curHelp {
	cursor: help;
}

/** PAGE elements*/
#page {
	margin-top: 10px;
}

#left_menu {
	color:#FFF;
	display:block;
	top:5px;
	left:5px;
	width:130px;
	position:fixed;
	height:98%;
	_height:105%;  /* tohle kazi vzhled v Maxhonu, ale pomaha IEcku - odstranuje scrollbar pri 1024x768*/
	overflow: auto;
	overflow-x: none;
}

.menu {
	border-top: solid 4px #111111;
	border-left: solid 4px #111111;
	border-right: solid 4px #3a3a3a;
	border-bottom: solid 4px #3a3a3a;
	}

#earth {
	background-image:url('../img/logo.gif');
	background-position:bottom center;
	background-repeat:no-repeat;
}

#clock { /*font, kterym jsou vypisovany hodiny*/
	font-size:13px;
	font-family:Courier;
	color:#5E5;
	font-weight:bold;
}

#clock_remain { /*font, kterym jsou vypisovany hodiny*/
	font-size: 12px;
	font-family: verdana;
	color: #FFE900;
}

* html #left_menu {_position:absolute;}

#left_menu ul {
	list-style-type: none;
}

#left_menu ul li {
	text-align:center;
/*	margin: 4px;*/
	padding: 4px;
	background-color: #2a2a2a;
	border-top: solid 2px #3a3a3a;
	border-left: solid 2px #3a3a3a;
	border-right: solid 2px #111111;
	border-bottom: solid 2px #111111;
	_width:90%;			/*optimalizace pro IE pri 800x600*/
}

#left_menu ul li ul li {
	border: none;
	padding:0;
	margin:0;
}

#left_menu ul li ul li ul li a { /*styl pro podpolozky noveho menu*/
	font-size: 10px;;
	line-height: 11px;;
	color: #888888;
	display:block;
	margin:0;
	padding:0;
	background-color:  transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#left_menu ul li ul li ul li a:hover { /*styl pro podpolozky noveho menu*/
	color: #c5d386;
/*	color: #FFDCB8; normaln a*/
	background-color:  transparent;
}

#content {
	padding-left: 145px;
	_padding-left: 150px;
	margin:0 10px 20px 5px;
}

#icontent {
	margin-top:10px;
	text-align:center;
}

#uLista { /*horniinf*/
	color:#FFF;
	background-color:#2a2a2a;
	border-top: solid 4px #111111;
	border-left: solid 4px #111111;
	border-right: solid 4px #3a3a3a;
	border-bottom: solid 4px #3a3a3a;
	width:100%;
	clear:left;
}

#uLista td {
	text-align: center;
	padding:5px;
	border-top: solid 2px #3a3a3a;
	border-left: solid 1px #3a3a3a;
	border-right: solid 1px #111111;
	border-bottom: solid 1px #111111;
	font-size:11px;
}

#uLista td table {
	margin-left:auto;
	margin-right:auto;
}

#uLista td table td {
	border:none;
	padding:0 3px;
}

#uMenu ul {
	list-style-type: none;
}

#uMenu ul li {
	float: left;
	padding: 5px 20px 5px 0px;
	_padding: 5px 20px 0px 0px;
}

#uForm {
	margin:5px auto;
	list-style-type: none;
}

#uForm li {
	padding: 3px 0 0 0;
}

#reklama {
	text-align:center;
	font-size:9px;
	color:#999;
	background-color:  transparent;
}

#warview th {

}

#warview td {

}

/**decapreted*/

.center {
	text-align:center;
}

.right {
	text-align:right;
}

.left {
	text-align:left;
}


/** Styly BAREV - nejlepe zahodit :-)  */
.ita {color: #98CCFF; font-style: italic; line-height:20px} /*modre specialni formatovani ve forech [i][/i]*/

.red {
	color: #FF0000;
	background-color:  transparent;
}

.gre {
	color: #00FF00;
	background-color:  transparent;
}
.gre2 {
	color: #40FF40;
	background-color:  transparent;
}

.yel {
	color: #FFFF00;
	background-color:  transparent;
}

.gray {
	color: #BBBBBB;
	background-color:  transparent;
}

.bll {
	color: #98CCFF;
	background-color:  transparent;
}

.lblue {
	color: #98CCFF;
	background-color:  transparent;
}

.blue {
	color: #3399FF;
	background-color:  transparent;
}

.yew {
	color: #FFFF88;
	background-color:  transparent;
}

.lin {
	color: #FFDCB8;
	background-color:  transparent;
}

.ora {
	color: #FF8000;
	background-color:  transparent;
}

.age {
	color: #3333FF;
	background-color:  transparent;
}

.mar {
	color: #33FF33;
	background-color:  transparent;
}

.nor {
	color: #FF3333;
	background-color:  transparent;
}

.tac {
	color: #FF33FF;
	background-color:  transparent;
}

.win {
	color: #FFFF33;
	background-color:  transparent;
}

.imp {
	color: #FFFF00;
	background-color:  transparent;
	font-weight: bold;
	font-size: small
}

.grelist {
	color: #66FF00;
	background-color:  transparent;
}



/** uvidime*/

.news {
	font: x-small verdana, arial, sans-serif;
	color: #FFDD00;
	background-color:  transparent;
}

.std {
	font: normal normal normal x-small verdana, arial, sans-serif;
	text-align: right
}

.ali {
	font: normal normal normal x-small verdana, arial, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color:  transparent;
}

.cis {
	font: normal normal normal x-small verdana, arial, sans-serif;
	color: #BBBBBB;
	background-color:  transparent;
}

td.armada { /*ve vypisu aliance bunkta tabulky s obrazky sloupecku jednotek*/
	white-space:nowrap;
}
td.armada img { /*odstraneni ukazovaci rucicky*/
	cursor:normal;
	min-height: 0px;
}

/*potreba v adminsky poste*/

/*potreba ve vyvoji*/
.min {
	color: #999999;
	background-color:  transparent;
	font-size: xx-small;
	margin-left: 30px;
}

.style1 {
	color: #FFFFFF;
	background-color:  transparent;
}


/*ID HACKY*/
#uall {
	width:100%;
}

#uall td {
	vertical-align:top;
	width:50%;
	padding:10px 10px 10px 0px;
}

#uall td table {
	width:100%;
}

#uall td table td{
	padding:4px;
}

#rozvoj td { /*rozvojovka*/
	vertical-align:top;
}

#rozvoj ul {
	list-style-type:disc;
	list-style-position:outside;
}

#tdetail td {
	vertical-align:top;
}

#dpokrok td.imprleg { /*detaily - tabulka s pokroky*/
	text-align:left;
}

#posta,#forum {
	padding:2px;
	margin:25px 20px;
}

#posta .smallbut {
	font-size: 9px;
	color: white;
	width: 68px;
	height: 19px;
	background: #2060AA;
	border: 1px solid black;
	padding:2px;
}


div.zprava {
	font-size:12px;
	border-top: solid 1px #3a3a3a;
	border-left: solid 1px #3a3a3a;
	border-right: solid 1px #111111;
	border-bottom: solid 1px #111111;
	padding:1px 2px 4px 1px;
	text-align:left;
}

.forum_body_fromme {
  border-top: solid 1px #3C3C3C;
	border-left: solid 1px #3C3C3C;
	border-right: solid 1px #000000;
	border-bottom: solid 1px #000000;
  background-color: #3a3a3a;
}

.forum_body_notfromme {
  border-top: solid 1px #3C3C3C;
	border-left: solid 1px #3C3C3C;
	border-right: solid 1px #000000;
	border-bottom: solid 1px #000000;
  background-color: #5a5a5a;
}

.forum_head {
	line-height:22px;
	font-weight:bold;
  margin: 1px;
  background-color: #2a2a2a;
  text-align: left;
  padding: 2px;
}

.forum_name {
  background-color: transparent;
  float: left;
}

.forum_time {
  float: right;
  background-color: transparent;
}

.forum_text {
	font: normal normal normal 12px verdana, arial, sans-serif;
	color:#FFF;
  clear: both;
  border, padding, margin: 0px;
  background-color: transparent;
  padding:4px 4px 20px 4px;
  text-align: left;
  width:97%;
  overflow: hidden;
}

div.fromme {
	background-color:#3a3a3a;
}

div.notfromme {
	background-color:#5a5a5a;
}

div.zpravahead {
	padding:2px 4px;
	line-height:22px;
	background-color:#2a2a2a;
	font-weight:bold;
	_width:98%;		/*ie fix pekaboo bugu*/
}

div.zpravasepar {
	color : #2a2a2a;
	height : 1px;
	font-size: 1px;
}

div.zpravabody {
	padding:4px 4px 20px 4px;
	width:97%;
	clear:both;
	overflow:hidden;
}

div.zpravabody img {
	cursor:default;
}

#spojenectvi {
	margin:0 auto;
}

#spojenectvi td {
	vertical-align:top;
}

#konfliktyup {
	width:75%;
	font-size:10px;
}

#konfliktyup td{
	line-height:20px;
}

#statszrizeni td, #statvalues td  {
	color:#98CCFF;
	background-color:  transparent;
	padding:4px 5px;
	text-align:center;
}

#statszrizeni td.l, #statvalues td.l, #odskodneni td.l {
	font-weight:bold;
	color: #FFC98F;
	background-color:  transparent;
	text-align:left;
}

#atlas td { /*layout tabulka v rekordech*/
	margin:0 auto;
	padding-bottom:20px;

}

#atlas table td {	/*layout tabulka v rekordech*/
	padding-bottom:5px;
}

#nastenka {		/** specialni formatovani pro bunku tablky v nic se zobrazuje nastenka*/
	text-align:left;
}

#warview td {		/*nezalamovani cisel ve warview - osetreni chyby IE*/
	white-space:nowrap;
	padding-left:5px;
	padding-right:5px;
}

#warview td.l {		/*no a jmena zemi chceme zalamovat/nebo nechceme?*/
/*	white-space:normal;*/
}

#zebricek {
	width:98%
}

#zebricek td {
	padding-left:2px;
	padding-right:1px;
}

.logout { /*styl zajistujici vetsi pismo hlasek v logout.php - tyka se odhlaseni, spatneho prihlaseni....*/
	font-size:15px;

}

#bankamain {
	width:600px;
	margin:100px auto;
}

#bankaobsah {
	padding:10px;
	margin:5px 2px 0 2px;
	background-color:#3a3a3a;
}

td.bankapopis {
	font-size:12px;
	background-color:#4a4a4a;
	padding:4px 7px 7px 7px !important;
}

td.bankapopis p {
	margin-top:5px;
	text-indent:10px;
}

#detaily td {		/** zarovnani bunek v detailech nahoru*/
	vertical-align:top
}

#zeme_filtr input {
	padding-right:0px;
	margin-right:2px;
	margin-top:2px

}

.ibanner_color {
	width:5%;
	height:10px;
	display:block;
	margin:3px 1px;
	padding:0;
	float:left;
	border:outset 1px #888
}

/* listovani */
.listb, .listb a
{
	padding:5px;
	background:#004070;
	border:1px solid #001B35;
    line-height: 35px;
}
.listb:hover
{
	background:#001B35;
}

/* fonty */
.medfont
{
	font-size:13px;
}

/* backgroundy */
.redbg
{
	background:red;
}

.lbluebckg
{
	background:#042341;
}

.greenbg
{
	background:#008000;
}



/* inputy - extra */

.doubletext
{
margin-top:3px;
}

#profile {
	width: 90%;
	margin: 0px auto;
}
	#profile_left {
		width: 50%;
		vertical-align: top;
	}
	#profile_center {
		width: 10px;
	}
	#profile_right {
		width: 50%;
		vertical-align: top;
	}
	#profile_desc {
		padding: 10px 5px 5px 5px;
	}
	.profileTitle {
		padding: 7px !important;
	}

#profile1 {
	width: 90%;
}
	#profile1 td {
		padding: 7px;
	}

	#profile1_left {
		width: 40%;
		padding: 0px;
		vertical-align: top !important;
	}
	#profile1_right {
		width: 60%;
		padding: 0px;
		vertical-align: middle !important;
	}

#profile2_0 {
	width: 90%;
}
#profile2_1 {
	width: 100%;
}
	.profile2_left {
		padding: 3px 5px !important;
		width: 150px;
	}
	.profile2_right {
		padding: 3px 5px !important;
		width: *;
	}

#profile3_0 {
	width: 90%;
}
#profile3_1 {
	width: 100%;
}

#profile4 {
	width: 90%;
}

#adv_ratio_bg {
	background: #181818;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#adv_ratio_bar {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.sklik_down_advert {
	width:127px;
	background-color: rgb(42, 42, 42)
}

.sklik_down_ad {
	width:127px;
	background-color: rgb(42, 42, 42)
}

div.sklik_down_advert {
	text-align: left;
	padding-left: 3px;
}

div.sklik_down_advert h1 {
	text-align: left;
	padding: 3px 3px 0px 3px;
}

div.sklik_down_ad h2 {
	text-align: left;
	padding: 3px 3px 0px 3px;
}

div.sklik_down_ad p {
	padding: 3px 3px 0px 3px;
	text-align: left;
	font-size: 10px;
}

div.sklik_down_ad a {
	font-size: 11px;
}

div.sklik_down_ad br {
	background-color: white;
}

.sklik_down_ad_link {
	font-size: 11px;
	color: #98ccff;
	padding: 5px 3px 0px 3px;
}

div.sklik_right_advert {
	background-color: rgb(42, 42, 42);
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	display: block;
	font-family: 'Times New Roman', Times;
	font-size: 11px;
	height: 90px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 728px;	
}

div.sklik_right_advert h1 {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #7E8697;
	background-image: none;
	background-origin: padding-box;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	bottom: 0px;
	display: block;
	font-family: 'Times New Roman', Times;
	font-size: 11px;
	font-weight: bold;
	height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	text-align: right;
	width: 726px;	
}

table.expNumber {
	margin:5px auto 5px auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
input.expNumber {
	padding: 4px 8px 4px 8px;
	background-color: #7b864a;
	background-image: none;
	color: #d5e396;
	font-weight: bold;
}

input.expNumber.checked {
	border-color: white;
	border-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}